# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Broschüren-Daten müssen mit ins Repo
!public/rag/
!public/rag/*.json

# Broschüren-Daten müssen mit ins Repo
!public/rag/
!public/rag/*.json
.env
